

    <main>
      <div id="intro">
          <div class="fullsc">
              <video loop muted autoplay src="img/full/fullsc_bg.mp4">
              </video>
              <h2 class="fulltt"></h2>
          </div>
      </div>  

      <section class="sec">
          <div id="mainWrap">
            <article class="market">
                <h3>상점찾기</h3>
                <div class="mk_search">
                    <input type="text" placeholder="검색어를 입력해 주세요.">
                    <a href="#">검색</a>
                </div>
                <div class="mk_tag">
                    <h5>TAG&nbsp;|&nbsp;</h5>
                    <span>
                        <a href="#">#의류·패션잡화 &nbsp;</a>
                        <a href="#">#액세서리·기타 &nbsp;</a>
                        <a href="#">#아동복 &nbsp;</a>
                        <a href="#">#혼수·주방·그릇 &nbsp;</a>
                        <a href="#">#농·수산물·인삼 &nbsp;</a>
                        <a href="#">#수입품·식품·문구 &nbsp;</a>
                        <a href="#">#꽃·공예품 &nbsp;</a>
                        <a href="#">#귀금속 &nbsp;</a>
                        <a href="#">#시계·카메라 &nbsp;</a>
                    </span>
                </div>
            </article><!--market-->

            <article class="buyntime">
                <div class="buy">
                    <p>먹거리</p>
                    <p>살거리</p>
                    <a href="#">자세히보기</a>
                </div>
                <div class="time">
                    <h3>야시장 운영시간</h3>
                    <span>매주 화요일 정기휴무</span>
                    <p>일요일,월요일,수~목요일 | 19:00 ~ 22:30</p>
                    <p>금요일,토요일 | 19:00 ~ 23:30</p>
                    <div class="t_list">
                        <a href="#" class="t_l_on"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </div>
            </article><!--buyntime-->

            <article class="tourlist">
                <div class="tourimg">
                  <img src="img/full/slide01.png" alt="">
                    <ul>
                        <li><a href="#" class="t_i_up"></a></li>
                        <li><a href="#" class="t_i_dw"></a></li>
                    </ul>
                </div>
                <div class="tourtitle">
                    <p class="tt_stitle">주변관광지</p>
                    <p class="tt_mtitle">대구향교</p>
                    <a href="#">자세히보기</a>
                </div>
            </article><!--tourlist-->

            <article class="infomation">
              <div class="i_noti">
                <div>
                  <h4>공지사항</h4>
                  <span><a href="#"> 더보기 </a></span>
                </div>
                <ul>
                  <li><a href="#">
                    2021년 4분기 소상공인 손실보상」관련 서류 발간에 대한
                    공고문 및 신청서
                    </a></li>
                  <li><a href="#">
                    2022년 구정연휴 휴무 일정 안내서문
                    </a></li>
                  <li><a href="#">
                    명절 이벤트 공고문
                    </a></li>
                  <li><a href="#">
                    전통시장 상인회 자율방역 현장점검표
                  </a></li>
                </ul>
              </div>
              <div class="info_box i_qna">
                <a href="#">
                  <span></span>
                  <h3>고객센터</h3>
                </a>
              </div>
              <div class="info_box i_map">
                <a href="#">
                  <span></span>
                  <h3>시장/공연장 위치</h3>
                </a>
              </div>
            </article><!--infomation-->

            <article class="exchange">
              <ul>
                <li><a href="#" class="ex_on">행사/이벤트 안내</a></li>
                <li><a href="#">오시는길/길찾기</a></li>
              </ul>
              <div class="ex_box">
                <article class="e_b_2">
                  <a class="e_b_img_00">
                    <div>
                      <p>서문 야시장이 품은 다양한 즐거움!</p>
                      <h4>새로운 문화 공간</h4>
                    </div>
                  </a>
                </article>
                <article class="e_b_1">
                  <a class="e_b_img_01">
                    <div>
                      <p>상설공연</br>
                        19:35 ~ 23:00</p>
                      <span>공연내용</span>
                    </div>
                  </a>
                </article>
                <article class="e_b_1">
                  <a class="e_b_img_02">
                    <div>
                      <p>버스킹공연</br>
                        20:00 ~ 23:00</p>
                      <span>공연내용</span>
                    </div>
                  </a>
                </article>
              </div>
            </article><!--exchange-->

        </div><!--mainWrap-->
      </section>

    </main>

