<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/basic.css">
    <link rel="stylesheet"  type="text/css" href="/css/common.css">

    <link rel="stylesheet"  type="text/css" href="/css/main.css">
    <link rel="stylesheet"  type="text/css" href="/css/intro.css">
    <link rel="stylesheet"  type="text/css" href="/css/list.css">
    <link rel="stylesheet"  type="text/css" href="/css/qna.css">
    <link rel="stylesheet"  type="text/css" href="/css/login.css">
    <link rel="stylesheet"  type="text/css" href="/css/notice.css">
    <link rel="stylesheet"  type="text/css" href="/css/notice_list.css">
    <link rel="stylesheet"  type="text/css" href="/css/signup_member.css">
    <link rel="stylesheet"  type="text/css" href="/css/signup_list.css">



    <title>서문야시장</title>
</head>

<body>

  <header>
    <div class="w_header">
      <nav>
        <h1 class="t_icon"><a href="/"></a></h1>
        <div class="t_menu">
          <ul>
            <li><a href="intro">야시장소개</a></li>
            <li><a href="list">먹거리살거리</a></li>
            <li><a href="#">서문예술거리</a></li>
            <li><a href="/qna">참여마당</a></li>
          </ul>
          <div class="t_lang"><a href="#">LANGUAGE ▼</a></div>
          <div class="t_search"><a href="login"></a></div>
        </div>
      </nav>
    </div>

    <div class="m_header">
      <nav>
        <div class="m_buger_btn"><a href=""></a></div>
        <h1></h1>
        <div class="m_t_search"><a href="login"></a></div>
      </nav>
    </div>
</header>

<!--main 호출-->
    <%- body %>
<!---->

<footer>
    <div class="footerWrap">
      <address>
        <p>대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ
          상권육성팀 Admin</p>
        <p>Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency.
          All Rights Reserved </p>
      </address>
      <div class="f_link">
        관련사이트
      </div>
    </div>
</footer>



</body>
</html>