<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/basic.css">
    <link rel="stylesheet"  type="text/css" href="/css/common.css">

    <link rel="stylesheet"  type="text/css" href="/css/main.css">
    <link rel="stylesheet"  type="text/css" href="/css/intro.css">
    <link rel="stylesheet"  type="text/css" href="/css/list.css">
    <link rel="stylesheet"  type="text/css" href="/css/qna.css">
    <link rel="stylesheet"  type="text/css" href="/css/login.css">
    <link rel="stylesheet"  type="text/css" href="/css/notice.css">
    <link rel="stylesheet"  type="text/css" href="/css/notice_list.css">
    <link rel="stylesheet"  type="text/css" href="/css/signup_member.css">
    <link rel="stylesheet"  type="text/css" href="/css/signup_list.css">





    <title>서문야시장</title>
</head>

<body>

<header>
    <%- include('./header.ejs') %>
</header>

<!--main 호출-->
    <%- body %>
<!---->

<footer>
  <%- include('./footer.ejs') %>
</footer>


</body>
</html>

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="./js/kakao.js"></script>
<script src="./js/main.js"></script>

