
  <main>
    <article class="qnaTop">
        <div class="subMenu">
            <h2>매대위치</h2>
            <p>상점들의 세부정보와 판매위치를 찾아볼 수 있습니다.</p>
            <ul>
                <li><a href="">개요</a></li>
                <li><a href="">역사</a></li>
                <li><a href="" class="on">매대위치</a></li>
                <li><a href="">행사안내</a></li>
                <li><a href="" class="sub_blue">운영시간</a></li>
            </ul>
        </div>
    </article>

    <article class="mapList">
      <div class="mlWrap">
        <ul>
          <li><a href="#" class="ml_on">야시장 먹거리</a></li>
          <li><a href="#">1지구</a></li>
          <li><a href="#">4지구</a></li>
          <li><a href="#">2지구</a></li>
        </ul>
        <div class="ml_img">
          <div class="ml_img_sc">
            <img src="img/full/list_map.png" alt="">
          </div>
        </div>
      </div>
    </article>

    <article class="qnaBoard">
      <div class="searchBox">
        <span>SEARCH</span>
        <div class="searchOption">
          <label for="fruit">
            상점명
          </label>
          <select for="s_option">
            <option id="s_option" value="s_title">상점명</option>
            <option id="s_option" value="s_detail">판매품목</option>
          </select>
        </div>
        <div class="searchTxt">
          <input type="text" placeholder="검색어를 입력해 주세요">
        </div>
      </div>

      <div class="searchlist">
        <div class="slWeb">
          <table>
            <colgroup>
              <col width="18%" >
              <col width="18%" >
              <col width="24%" >
              <col width="22%" >
              <col width="28%" >
            </colgroup>
            <thead>
              <tr>
                <th>상점명</th>
                <th>전화번호</th>
                <th>위치</th>
                <th>판매품목</th>
                <th>상점정보</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="t_title">현풍닭강정</td>
                <td >033-654-4655</td>
                <td>서문시장 앞 1001호</td>
                <td>닭강정</td>
                <td><a href="#" class="tt_on">상세보기</a></td>
              </tr>
              <tr>
                <td class="t_title">반쎄오</td>
                <td >033-654-4655</td>
                <td>서문시장 앞 1002호</td>
                <td>베트남식</td>
                <td><a href="#" class="tt_on">상세보기</a></td>
              </tr>
              <tr>
                <td class="t_title">무뼈닭발</td>
                <td >033-654-4655</td>
                <td>서문시장 앞 1004호</td>
                <td>닭발</td>
                <td><a href="#" class="tt_on">상세보기</a></td>
              </tr>
              <tr>
                <td class="t_title">혜담분식</td>
                <td >033-123-2355</td>
                <td>서문시장 1지구 앞</td>
                <td>분식</td>
                <td><a href="#" class="tt_on">상세보기</a></td>
              </tr>
              <tr>
                <td class="t_title">철판꽃삼겹김밥</td>
                <td >033-632-4654</td>
                <td>서문시장 1지구 앞</td>
                <td>삼겹살김밥</td>
                <td><a href="#" class="tt_on">상세보기</a></td>
              </tr>
              <tr>
                <td class="t_title">또피자</td>
                <td >033-254-1235</td>
                <td>서문시장4지구 앞 3001호</td>
                <td>또띠아피자 외</td>
                <td><a href="#" class="tt_on">상세보기</a></td>
              </tr>
              <tr>
                <td class="t_title">스시머스마</td>
                <td >033-132-3455</td>
                <td>서문시장4지구 앞 4001호</td>
                <td>초밥 외</td>
                <td><a href="#" class="tt_on">상세보기</a></td>
              </tr>
              <tr>
                <td class="t_title">파닭꼬치</td>
                <td >033-345-2355</td>
                <td>서문시장4지구 앞 3008호</td>
                <td>닭꼬치</td>
                <td><a href="#" class="tt_on">상세보기</a></td>
              </tr>
              <tr>
                <td class="t_title">스테이크새우꼬치</td>
                <td >033-567-1892</td>
                <td>서문시장4지구 앞 3007호</td>
                <td>퓨전양식</td>
                <td><a href="#" class="tt_on">상세보기</a></td>
              </tr>              
            </tbody>
          </table>
        </div><!--웹table-->

        <div class="slMobile">
          <ul>
            <li>
              <div>
                <h3>현풍닭강정</h3>
                <span class="sm_num">033-654-4655</span>
                <p>서문시장 1지구 앞</p>
                <span class="sm_cate">판매품목</span>
                <p>닭강정</p>
                <a href="#">상세보기</a>
              </div>
            </li>
            <li>
              <div>
                <h3>반쎄오</h3>
                <span class="sm_num">033-654-4655</span>
                <p>서문시장 앞 1002호</p>
                <span class="sm_cate">판매품목</span>
                <p>베트남식</p>
                <a href="#">상세보기</a>
              </div>
            </li>
            <li>
              <div>
                <h3>무뼈닭발</h3>
                <span class="sm_num">033-654-4655</span>
                <p>서문시장 앞 1004호</p>
                <span class="sm_cate">판매품목</span>
                <p>닭강정</p>
                <a href="#">상세보기</a>
              </div>
            </li>
            <li>
            <li>
              <div>
                <h3>혜담분식</h3>
                <span class="sm_num">033-123-2355</span>
                <p>서문시장 1지구 앞</p>
                <span class="sm_cate">판매품목</span>
                <p>분식</p>
                <a href="#">상세보기</a>
              </div>
            </li>
            <li>
              <div>
                <h3>철판꽃삼겹김밥</h3>
                <span class="sm_num">033-632-4654</span>
                <p>서문시장 1지구 앞</p>
                <span class="sm_cate">판매품목</span>
                <p>삼겹살김밥</p>
                <a href="#">상세보기</a>
              </div>
            </li>
            <li>
              <div>
                <h3>또피자</h3>
                <span class="sm_num">033-654-4655</span>
                <p>서문시장4지구 앞 3001호</p>
                <span class="sm_cate">판매품목</span>
                <p>또띠아피자 외</p>
                <a href="#">상세보기</a>
              </div>
            </li>
            <li>
              <div>
                <h3>스시머스마</h3>
                <span class="sm_num">033-654-4655</span>
                <p>서문시장4지구 앞 4001호</p>
                <span class="sm_cate">판매품목</span>
                <p>초밥 외</p>
                <a href="#">상세보기</a>
              </div>
            </li>
            <li>
              <div>
                <h3>파닭꼬치</h3>
                <span class="sm_num">033-654-4655</span>
                <p>서문시장4지구 앞 3008호</p>
                <span class="sm_cate">판매품목</span>
                <p>닭꼬치</p>
                <a href="#">상세보기</a>
              </div>
            </li>
            <li>
              <div>
                <h3>스테이크새우꼬치</h3>
                <span class="sm_num">033-654-4655</span>
                <p>서문시장4지구 앞 3007호</p>
                <span class="sm_cate">판매품목</span>
                <p>퓨전양식</p>
                <a href="#">상세보기</a>
              </div>
            </li>


          </ul>
        </div><!--모바일table-->

        <div class="pageNumber">
          <a href="#" class="pre_a_btn"></a>
          <a href="#" class="pre_btn"></a>
          <a href="#" class="p_on" >1</a>
          <a href="#" >2</a>
          <a href="#" >3</a>
          <a href="#" >4</a>
          <a href="#" >5</a>
          <a href="#" >6</a>
          <a href="#" >7</a>
          <a href="#" >8</a>
          <a href="#" class="next_btn"></a>
          <a href="#" class="next_a_btn"></a>
        </div>
      </div>
    </article>

  </main>

