
  <main>
    <div class="introTop">
      <div class="submenuTitle">
        <h2>서문야시장소개</h2>
        <p>전 세계인과 함께하는, 대한민국 대표 야시장 '서문시장 야시장'</p>
      </div>
      <div class="submenu">
        <ul>
          <li><a href="#" class="on">개요</a></li>
          <li><a href="#">역사</a></li>
          <li><a href="#">매대위치</a></li>
          <li><a href="#">행사안내</a></li>
          <li><a href="#">운영시간</a></li>
        </ul>
      </div>
    </div><!--상단타이틀,서브메뉴-->

      <div class="introBox">
        <div class="introBoxShare">
          <h2>서문야시장 소개</h2>
          <div><a href="#">
            <img src="img/full/link.png" width="31" alt="서문야시장 소개글  공유 아이콘">
          </a></div>
        </div><!--소개글 메인 타이틀,공유아이콘-->
        <div class="introTextBox">
          <div class="title_r">
            총거리 <span>350M의 대형 야시장,</span>
          </div>
          <div class="title_l">
            매일 저녁 시민과 관광객에게 <span>'즐거움을 선사'</span>
          </div>
          <div class="tb">
            <div>
                  서문시장 야시장은 2016년 6월에 개장한,<span class="tbbold">총거리 350M에 달하는 대형 야시장입니다.</span></br>
                  조선 후기 강경과 함께 <span class="tbbold">삼남에서 가장 큰 시장으로 성장한 대구 서문시장.</span> </br>
                  서문시장은 강경과 달리 현재까지도 대한민국을 대표하는 시장 중 하나로
                  해방 이후 여러 차례 화재를 겪는 등 어려움이 있었지만, 끝내 이겨냈습니
                  다.</br>
                  <span class="tbbold">우리나라 3대 시장인 서문시장의 밤거리를 무대</span>로 하여
                  <span class="tbbold">총 80대의 매대에서 다양한 먹거리, 살거리를 판매</span>하며
                  매일 저녁, 시민과 관광객에게 즐거움을 선사하는
                  복합문화공간입니다. </br>
                  특히, 먹거리 일색인 타 야시장과는 달리
                  먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는
                  마법같은 관광지이기도 합니다.
            </div>
            <div>
              현재 대구 중심 전통시장으로 자리매김한 서문시장은, <span class="tbbold">5천개가 넘는 점포가 형성됐고,
              주말이면 10만 명 넘는 사람이 찾아올 정도로 인산인해</span>를 이루고 있습니다.</br>
              서문시장이 현재까지 많은 사랑을 받는 비결은 ‘과감한 도전’입니다.</br>
              경부고속도로의 건설로 상권을 서울에 빼앗겼을 때, 시설 현대화를 추진해 현대식
              전통시장으로의 변신을 꾀했고, 현재는 2030세대를 위해 <span class="tbbold">‘야시장’을 도입했습니다.</span></br>
              글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한 음식 우리의
              추억과 감성을 자극하는 다양한 볼거리, 살거리가 즐비합니다. </br>
              대구로 방문하신다면 <span class="tbbold">반드시 찾아가봐야 할 1순위는 단연 ‘서문시장 야시장’입니다.</span>
            </div>
          </div>
        </div><!--소개타이틀,소개글-->
        <div class="introPoint">
          <h3 class="h3tt">주요정보</h3>
          <div class="introPointBox1">
            <div>
              <h3>시장거리</h3>
              <p>약 <span class="color">350</span><span class="bd">M</span></p>
            </div>
            <div>
              <h3>점포수</h3>
              <p>약 <span class="color">80</span><span class="bd">매대</span></p>
            </div>
            <div>
              <h3>시장종사자 수</h3>
              <p><span class="intr_45">상인포함</span> 약<span class="color">3</span><span class="bd">만명</span></p>
            </div>
            <div>
              <h3> 1일 방문객</h3>
              <p>약 <span class="color">8</span><span class="bd">만명</span></p>
            </div>
          </div>
          <div class="introPointBox2">
            <div>
              <h3>시장과 주변 관광지까지</h3>
              <span class="color">낮과밤까지</span>
            </div>
            <div>
              <h3>매일 다양한</h3>
              <span class="color">공연과행사</span>
            </div>
            <div>
              <h3>함께하는 전통시장</h3>
              <span class="color">다양한혜택</span>
            </div>
            <div>
              <h3>친절한</h3>
              <span class="color">입점상담</span>
            </div>
          </div>
          <div class="mintroPointBox2">
            <span class="intro_tx">공연과행사 / 다양한 혜택 / 친절한 입점상담</spanc>
          </div><!--모바일용 box2주요정보-->
        </div><!--소개글 주요정보-->

        <div class="introAddr">
          <h2>찾아오시는 길</h2>
          <div class="introMap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.1964798473055!2d128.57833045122152!3d35.86870163005359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e376c08aad43%3A0xdd7958b01f8ee3e!2z7ISc66y47Iuc7J6lIOyVvOyLnOyepQ!5e0!3m2!1sko!2skr!4v1649054654001!5m2!1sko!2skr" width="100%" height="530" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="addrNotice">
            <h3 class="h3tt">주소</h3>
            <p>대구 중구 큰장로26길 45</p>
            <h3 class="h3tt">주변역</h3>
              <h4>주변 지하철</h4>
                <ul>
                  <li><span class="subNo3"></span>서문시장역</li>
                  <li><span class="subNo2"></span>신남역</li>
                  <li><span class="subNo3"></span>신남역</li>
                  <li><span class="subNo3"></span>달성공원</li>
                </ul>
              <h4>주변 정류장</h4>
                <ul>
                  <li><span class="no1"></span>큰장네거리4</li>
                  <li><span class="no2"></span>동산의료원앞2</li>
                  <li><span class="no3"></span>서문시장5지구앞</li>
                  <li><span class="no4"></span>동산의료원앞1</li>
                  <li><span class="no5"></span>서문시장</li>
                  <li><span class="no6"></span>큰장네거리2</li>
                 </ul>
            <div class="addrStation">
              <h3 class="h3tt">정류장</h3>
              <ul>
                <li><span class="s_gan"></span>156 240 300 309 323 405 425 523</li>
                <li><span class="s_ji"></span>지선북구2 성서2 (대곡-다사-대평-다사-서문시장) 성서2 (대곡-다사-하산스무지-다사-서문시장)</li>
                <li><span class="s_il"></span>990</li>
                <li><span class="s_ja"></span>좌석대구-광영-도흥-왜관 (대구북부,반고개,광영,도흥,왜관) 대구-용암-성주 (대구북부,반 고개,상신,화묵이) </li>
                <li><span class="s_gb"></span>급행간선급행1 급행5 급행6</li>
                <li><span class="s_nong"></span>농어촌250 (북부-반고개-다사-동곡-광영-성주) 250 (북부-반고개-다사-문양역-동곡-광영-성주)</li>
               </ul>
            </div>
          </div>
        </div><!--찾아오시는 길-->
    </div><!--소개글-->

  </main>
