
  <main> 
    <div id="member_t">
      <div class="member_t_Wrap">
        <h2>SIGN UP</h2>
        <p>회원구분</p>
        <div class="mb_type">
          <a href="#" class="user" >
            <p>일반회원</p>
          </a>
          <a href="#" class="seller1 on">
            <p>마켓셀러</p>
          </a>
          <a href="#" class="seller2">
            <p>식품셀러</p>
          </a>
        </div>  
        <div class="next">
          <a href="signup">다음</a>
        </div>    
      </div>
    </div>
  </main>
