
  <main> 
        <div id="signup_w_box">
            <div class="signup_l_main">
                    <h2>SIGN UP</h2>
                    <div class="signup">
                        <form action="/store" method="POST">
                            <h4>회원구분</h4>
                            <div>
                                <p class="member_type">마켓셀러</p>
                            </div>
                            <h4>아이디</h4>
                            <div>
                                <input type="text" id="">
                            </div>
                            <h4>비밀번호</h4>
                            <div>
                                <input type="password" id="">
                            </div>
                            <h4>비밀번호 확인</h4>
                            <div>
                                <input type="password" id="">
                            </div>
                            <h4>이메일</h4>
                            <div>
                                <input type="text" id="">
                            </div>
                            <h4>연락처</h4>
                            <div>
                                <input type="text" id="" placeholder="'-' 없이 숫자만 입력">
                            </div>
                            <h4>판매품목</h4>
                            <div>
                                <input type="text" id="" placeholder="주력상품 간단히 작성">
                            </div>
                            <h4>상호명</h4>
                            <div>
                                <input type="text" id="">
                            </div>
                            <h4>추가파일</h4>
                            <div class="file">
                                <div id="file_name">
                                파일명
                                </div>
                                <label for="file_find" class="file_btn">파일찾기</label>
                                <input type="file" id="file_find">
                            </div>


                                
                        </form>
                    </div>
                    <div class="next">
                        <input type="submit" value="가입하기">
                    </div>
            </div>
        </div>
  </main>
